# Hidden Files
.*
!.gitignore

# Credentials
.credentials
token.pickle

# Python
*.pyc
__pycache__/

# Temporary Items
*.tmp
*.tmp.*

# Virtual Environments
Env/
venv/
myenv/

# Notebooks
**/.ipynb_checkpoints/

# VSCode
.vscode/

# Pycharm
.idea/

# Pypi files
build/
dist/
google_api_support.egg-info/